.main-footer{
  min-height: 90px;
  background: rgba(72, 74, 72, 0.5);
}

.footer{
  margin-top: 60px;
  height: 30px;
  padding-top: 7px;
  color: #000;
  background: rgba(255, 255, 255, 0.9);
}

.copyright{
  margin-left: 100px;
  float: left;
}

.contact-us{
  float: right;
  margin-right: 100px;
}
