.pagination-bar{
  margin-left: 315px;
  margin-top: 30px;

  a {
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
  }

  a:visited{
    color: inherit;
  }

  .previous_page{
    height: 28px;
    width: 28px;
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .previous_page{
    height: 28px;
    width: 28px;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}

.nav-icon{
  height: 28px;
  width: 28px;
  display: inline-block;
}

.prev-icon{
  background: image_url("prev_icon.png") no-repeat;
}

.next-icon{
  background: image_url("next_icon.png") no-repeat;
}

.current{
  font-size: 24px;
  margin: 10px;
}

